<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width" />
	<link type="text/css" href="~/styles/normalize.css" rel="stylesheet" />
	<link type="text/css" href="~/styles/shop.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,700|Yellowtail" rel="stylesheet">
</head>
<body>
	@RenderBody()
</body>
</html>
