@model SillyWonko.Models.ViewModels.UserViewModel

<section>
    <form method="get" asp-controller="Admin" asp-action="Create">
        <input type="submit" value="Add New Product" />
    </form>
    <form asp-controller="Shop" asp-action="Index">
        <input type="submit" value="Shop" />
    </form>
</section>
<section>
    Admin controls for Users?
</section>
<section>
    <p>List of products</p>
    @foreach(var product in Model.Products)
    {
        <a asp-controller="Admin" asp-action="Details" asp-route-id="@product.ID">@product.Name</a>
    }
</section>