@model SillyWonko.Models.ViewModels.UserViewModel
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using SillyWonko.Models;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
	Layout = "_Main";
}

<main class="main_container">
	<header>
		<img id="main_logo" src="~/images/wonko_logo.svg" alt="Wonko Logo" />
		<p id="main_subheading">A most <span>curious </span> shoppe</p>
	</header>
	<section class="product_grid">
		@foreach (var product in Model.Products)
		{
		<div class="product_cell">
			<a href="@Url.Action($"Detail/{product.ID}","Shop")">
				<img class="product_image" src="~/@product.Image" />
			</a>
			<p class="product_name">@product.Name</p>
			<p class="product_price">$@Convert.ToInt32(product.Price)</p>
		</div>
		}
	</section>
</main>