@model SillyWonko.Models.ViewModels.UserViewModel

<main class="main_container">
    <header>
        <img id="main_logo" src="~/images/wonko_logo.svg" alt="Wonko Logo" />
    </header>
    <div class="form_container">
        <p id="form_title">Logalicious?</p>
        <form method="post" asp-action="Login">
            <div asp-validation-summary="All"></div>
            <p><input type="text" asp-for="Login.Email" placeholder="Email" /></p>
            <p><input type="password" asp-for="Login.Password" placeholder="password" /></p>
            <p><input type="submit" value="Confirmatious?" /></p>
        </form>
    </div>
</main>
