<main class="main_container">
	<header>
		<img id="main_logo" src="~/images/wonko_logo.svg" alt="Wonko Logo" />
		<p id="main_subheading">A most <span>curious </span> shoppe</p>
	</header>
	
	<form asp-action="Index" asp-controller="Shop" method="get">
		<input value="Enter" type="submit" />
	</form>
</main>