* 
{
	box-sizing: border-box;
}

html 
{
	min-height: 100%;
	min-width: 20rem;
}

body 
{
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: rgb(195, 255, 240);
	font-family: 'Roboto Condensed';
	font-size: 1.2rem;
}

h1 
{
	font-size: 3rem;
}

p 
{
	font-size: 1.2rem;
}

.main_container 
{
	margin: 0 auto;
	max-width: 80rem;
}

nav 
{
	text-transform: uppercase;
	position: fixed;
	left: -18rem;
	width: 20rem;
	background: rgba(255, 67, 67, .85);
	color: rgb(255, 255, 255);
	font-weight: 700;
	padding-left: 2rem;
	padding-right: 2rem;
	height: 100%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	z-index: 1;
}

nav:hover 
{
	-webkit-transform: translate(15em, 0);
	-moz-transform: translate(15em, 0);
	-o-transform: translate(15em, 0);
	-ms-transform: translate(15em, 0);
	z-index: 1;
}

nav ul
{
	list-style: none;
	padding: 0;
}

nav a
{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

nav a:hover
{
	color: rgb(144, 4, 4);
}

nav input
{
	border: none;
	margin-top: 1rem;
	padding: .75rem;
	z-index: 1;
}

.nav_identity p:first-of-type
{
	margin: 2rem 0 0;
	padding: 0;
}

.nav_identity p:nth-of-type(2)
{
	margin: 0;
	color: rgb(144, 4, 4);
	font-size: .75rem;
}

nav #register_link 
{
	margin-top: .75rem;
	display: block;
}

#nav_button 
{
	border: none;
	font-weight: 700;
	background: rgb(255, 67, 67);
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	padding: 1rem;
}

#nav_button:hover 
{
	background: rgb(255, 103, 103);
}

#menu_tag 
{
	position: absolute;
	right: 0;
	top: 2rem;
	font-size: .75rem;
	color: rgb(144, 4, 4);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}

#menu_triangle 
{
	position: absolute;
	right: .65rem;
	top: 2.5rem;
	width: 0;
	height: 0;
	border-top: .35rem solid transparent;
	border-bottom: .35rem solid transparent;
	border-right: .5rem solid rgb(255, 255, 255);
}

.vc_item 
{
	position: relative;
	background: rgb(255, 255, 255);
	color: rgb(255, 67, 67);
	padding: 1rem;
	margin-top: .05rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .15);
}

#vc_name 
{
	display: inline-block;
	margin: 0;
}

#vc_price 
{
	display: inline-block;
	font-size: inherit;
	color: rgb(128, 128, 128);
	margin: 0;
}

#vc_quantity 
{
	position: absolute;
	right: .5rem;
	bottom: .4rem;
	height: 75%;
	display: inline-block;
	background: rgb(255, 67, 67);
	color: rgb(255, 255, 255);
	padding: .5rem;
	margin: 0 0 0 .5rem;
}

header 
{
	max-width: 100%;
	margin: 0 auto 0 2rem;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	text-align: center;
	color: rgb(11, 37, 28);
}

header #main_logo 
{
	padding-top: 1rem;
	display: block;
	width: 10rem;
	margin: 0 auto 1rem;
	clear: right;
}

#item_button
{
	width: 100%;
	border: none;
	font-weight: 700;
	background: rgb(255, 255, 255);
	color: rgb(255, 67, 67);
	text-transform: uppercase;
	text-align: left;
	padding: 1rem 1rem 1rem 5rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .05);
}

#item_button:hover 
{
	transform: scale(1.025); 
}

form input:focus 
{
	outline: 0;
}

form .no_autocomplete 
{
	display: none;
}

.inventory_list
{
	display: block;
	margin: 2rem auto 0 2rem;
}

#list_wrapper 
{
	padding: 0 1rem;
	margin: 2rem auto;
	max-width: 20rem;
}

#list_item 
{
	position: relative;
	display: block;
	width: 18rem;
	margin: .25rem auto;
	background: white;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .05);
	min-width: 18rem;
}

.item_image 
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 1%;
	display: inline-block;
	height: 90%;
}

#detail_name
{
	font-size: 2rem;
	margin: 1rem 0 0 0;
	text-transform: uppercase;
	font-weight: 700;
	color: rgb(255, 67, 67);
}

#detail_description
{
	margin: .5rem 0;
	font-weight: 300;
}

#detail_price
{
	margin: 0;
	font-weight: 700;
	color: rgb(0, 0, 0);
}

#detail_button
{
	background: rgb(0, 0, 0);
	width: 100%;
	margin-top: 2rem;
}

#detail_button:hover
{
	background: rgb(40, 40, 40);
}

/* TABLET */
@media (min-width: 640px) 
{
	#list_wrapper 
	{
		max-width: 35rem;
	}

	.list_item 
	{
		margin: 2rem 0;
	}
}

/* DESKTOP */
@media (min-width: 1024px) 
{
	#product_wrapper 
	{
		max-width: 50rem;
	}

	.product_cell 
	{
		width: 24rem;
		display: inline-block;
		margin: 2rem 0;
	}

	#list_item
	{
		display: inline-block;
		width: 22rem;
		float: right;
		margin: 2rem 0;
	}
	
}
