* 
{
	box-sizing: border-box;
}

html 
{
	min-height: 100%;
	min-width: 20rem;
}

body 
{
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: rgb(195, 255, 240);
	font-family: 'Roboto Condensed';
	font-size: 1.2rem;
}

h1 
{
	font-size: 3rem;
}

p 
{
	font-size: 1.2rem;
}

.main_container 
{
	margin: 0 auto;
	max-width: 80rem;
}

nav 
{
	text-transform: uppercase;
	position: fixed;
	left: -18rem;
	width: 20rem;
	background: rgba(255, 67, 67, .85);
	color: rgb(255, 255, 255);
	font-weight: 700;
	padding-left: 2rem;
	padding-right: 2rem;
	height: 100%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	z-index: 1;
}

nav:hover 
{
	-webkit-transform: translate(15em, 0);
	-moz-transform: translate(15em, 0);
	-o-transform: translate(15em, 0);
	-ms-transform: translate(15em, 0);
}

nav ul
{
	list-style: none;
	padding: 0;
}

nav a
{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

nav a:hover
{
	color: rgb(144, 4, 4);
}

nav input[type=text], input[type=password] 
{
	width: 100%;
	font-weight: 300;
	margin-top: 1rem;
	border: none;
	padding: .75rem 1rem;
	box-shadow: inset 0 0 .15rem rgba(0, 0, 0, .25);
}

nav input 
{
	margin-top: 1rem;
}

.nav_identity p:first-of-type
{
	margin: 2rem 0 0;
	padding: 0;
}

.nav_identity p:nth-of-type(2)
{
	margin: 0;
	color: rgb(144, 4, 4);
	font-size: .75rem;
}

nav #register_link 
{
	margin-top: .75rem;
	display: block;
}

.nav_provider
{
	margin-top: .75rem;
	position: relative;
}

.nav_provider_one
{
	display: inline-block;
	margin-right: .5rem;
}

.nav_provider_one div, p
{
	display: block;
}

.nav_provider input
{
	border: none;
	background: none;
	color: transparent;
	top: 0;
	margin: 0;
	position: absolute;
	height: .75rem;
}

.nav_provider_one:hover
{
	color: rgb(144, 4, 4);
}

#menu_tag {
	position: absolute;
	right: 0;
	top: 2rem;
	font-size: .75rem;
	color: rgb(144, 4, 4);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#menu_triangle 
{
	position: absolute;
	right: .65rem;
	top: 2.5rem;
	width: 0;
	height: 0;
	border-top: .35rem solid transparent;
	border-bottom: .35rem solid transparent;
	border-right: .5rem solid rgb(255, 255, 255);
}

.vc_item 
{
	position: relative;
	background: rgb(255, 255, 255);
	color: rgb(255, 67, 67);
	padding: .75rem;
	margin-top: .05rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .15);
}

#vc_heading
{
	color: rgb(144, 4, 4);
	margin-bottom: .5rem;
}

#vc_name
{
	display: block;
	margin: 0;
}

#vc_price 
{
	display: inline-block;
	font-size: inherit;
	color: rgb(140, 140, 140);
	margin: 0;
}

#vc_quantity
{
	position: absolute;
	right: 0;
	height: 50%;
	min-width: 17%;
	display: inline-block;
	text-align: center;
	background: rgb(255, 67, 67);
	color: rgb(255, 255, 255);
	padding: 2.5%;
	margin: 0 0 0 .5rem;
}

header 
{
	max-width: 100%;
	margin: 0 auto 0 2rem;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	text-align: center;
	color: rgb(11, 37, 28);
}

header #main_logo 
{
	padding-top: 1rem;
	display: block;
	width: 10rem;
	margin: 0 auto 1rem;
	clear: right;
}

header #main_subheading 
{
	display: inline-block;
	line-height: 2rem;
	background: rgb(255, 67, 67);
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	padding: 1rem;
	margin-top: 0;
}

header span
{
	font-size: 2rem;
	line-height: 2rem;
	text-transform: none;
	font-family: Yellowtail;
	font-weight: 700;
}

#nav_button 
{
	cursor: pointer;
	border: none;
	font-weight: 700;
	background: rgb(255, 67, 67);
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	padding: 1rem;
}

#nav_button:hover 
{
	background: rgb(144, 4, 4);
}

form input:focus 
{
	outline: 0;
}

form .no_autocomplete 
{
	display: none;
}

.product_grid 
{
	font-size: 0;
	margin: 0 auto 0 2rem;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.product_cell
{
	position: relative;
	width: 15rem;
	margin: 1rem;
	background: white;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .15);
	min-width: 15rem;
}

.product_image 
{
	padding-top: 5%;
	padding-bottom: 20%;
	display: block;
	margin: 0 auto;
	width: 90%;
}

.product_cell:hover 
{
	transform: scale(1.025);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

.product_cell:hover .product_image 
{
	opacity: .85;
}

.product_cell:hover > .product_price 
{
	visibility: visible;
}

.product_name 
{
	text-transform: uppercase;
	font-weight: 700;
	color: rgb(255, 67, 67);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5%;
	text-align: center;
	margin: auto;
}

.product_price {
	cursor: pointer;
	visibility: hidden;
	font-size: 1.5rem;
	font-weight: 700;
	background: rgb(255, 67, 67);
	color: rgb(255, 255, 255);
	position: absolute;
	top: 9.75rem;
	width: 5rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .25);
}

/* TABLET */
@media (min-width: 600px) 
{

}

/* DESKTOP */
@media (min-width: 1024px) 
{

}
