@page
@model SillyWonko.Pages.Profile.ProfileModel
@{ 
    Layout = "_Profile";
}
<header>
    <img id="main_logo" src="~/images/wonko_logo.svg" alt="Wonko Logo" />
</header>
<main class="main_container">
    <h2>You curious profile</h2>

    <form method="post">

        <label asp-for="FirstName"></label> :
        <input asp-for="FirstName" />
        <br />

        <label asp-for="LastName"></label> :
        <input asp-for="LastName" />
        <br />

        <label asp-for="Email"></label> :
        <input readonly="readonly" asp-for="Email" />
        <br />
        <label>Curious</label> :
        <input readonly="readonly" asp-for="CricketMember" />
        <br />
        <input type="submit" value="update" />
    </form>
	<a href="/Orders">Orders</a>
</main>